.sign-up {
  background-image: url('https://i.ytimg.com/vi/WnvnJJH_S1Y/maxresdefault.jpg');
  background-size: cover;
  min-height: 100vh;
}

.sign-in {
  background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-blue-smart-light-tech-background-backgroundlight-effect-backgroundelectronic-image_81225.jpg');
  background-size: cover;
  min-height: 100vh;
}
