img.user-options {
  border: 1px #111 solid;
}

.user-info {
  margin-right: 0;
  margin-left: 0;
}

.cover-image img {
  object-fit: cover;
  width: 100%;
  height: 202px;
}

.user-options {
  border-radius: 50%;
}

.profile-picture {
  height: 40px;
  object-fit: cover;
}
